extends layout

block content
  h2= title
  ul.errors
    if errors
      each error, i in errors
        li.alert.alert-danger #{error.msg}
  .chat-box
    ul#chat-messages
      li
        b Chat-welcomer:
        |  Hi! Have a good day!
  .chat-form
    form(method='post', action='')
      input.input-msg-box(name='message', type='text', autocomplete='off', id="inputTxtBox")
      button Submit
  script(src='socket.io/socket.io.js')
  script(src="https://code.jquery.com/jquery-1.11.1.js")
  script.
    $(function() {
      var socket = io();
      $('form').submit(function () {
        if ($.trim( $("#inputTxtBox").val()) === "") {
          alert('you did not fill the input field, bitch!');
        }
        else {
          socket.emit('chat message', $('.input-msg-box').val());
        }
        $('.input-msg-box').val('');
        return false;
      });
      socket.on('chat message', function(msg) {
        var username_j = !{JSON.stringify(user)};
        var now = new Date();
        var time = now.getHours() + ':' + now.getMinutes();
        $('#chat-messages').append( $('<li>' + '<b>' + '<i>' + time + '</i> | ' +
          username_j + ': </b>' + msg + '</li>') );
      });
    });
