/* SYSTEM CLASSES */

body {
  font-family: arial;
  font-size: 15px;
  background: #e3e3e4;
  color: #000;
}

ul {
  padding: 0;
  margin: 0;
}

h1, h2, h3 {
  padding: 5px 0;
  margin-bottom: 0;
}

p {
  margin: 0;
}

a {
  color: #404137;
  text-decoration: none;
}

nav {
  background: #404137;
  color: #fff;
  overflow: auto;
  height: 40px;
  padding: 20px 0 0 10px;
  font-size: 18px;
  margin-bottom: 20px;
}

nav li {
  float: left;
  list-style: none;
}

nav a {
  padding: 10px;
  margin: 0 10px;
  color: #fff;
}

nav a.current, nav a:hover {
  background: #ac0a0a;
  color: #FFF;
  border-radius: 5px;
  transition: 0.15s;
}


label {
  display: inline-block;
  width: 180px;
}

input, select, textarea {
  margin-bottom: 15px;
}

input[type='text'], input[type='email'], select, textarea {
  padding: 3px;
  height: 20px;
  width: 200px;
  border: 1px #ccb solid;
}

footer {
  margin-top: 20px;
  padding-top: 20px;
  height: 30px;
  text-align: center;
  border-top: 1px solid #ccc;
}

select {
  height: 28px;
}

textarea {
  height: 70px;
  width: 400px;
}


/* -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- --*/

/* CUSTOM CLASSES AND IDs BELOW  -- -- -- -- -- -- --*/

/* -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- --*/


.logo {
  width: 120px;
  height: 120px;
  text-align: center;
  margin: auto;
  margin-bottom: 20px;
  display: block;
  border: 2px solid #404137;
}

.container {
  background-color: #fff;
  width: 750px;
  border: 1px solid #7F7F7F;
  margin: 20px auto;
  padding: 20px;
}

.clr {
  clear: both;
}

.meta {
  padding: 7px;
  border: 1px solid #ccb;
  background: #ccb;
}

a.more {
  display: block;
  width: 75px;
  background: #404137;
  color: #fff;
  padding: 10px;
  margin-top: 30px;
}

a.more:hover {
  background-color: #ac0a0a;
}

.post {
  display: block;
  border-bottom: 1px solid #ccb;
  padding-bottom: 20px;
}

.post img {
  width: 100%;
}

ul.errors li, ul.error li {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
  list-style: none;
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd2;
}

ul.success li {
  padding: 15px;
  margin-top: 10px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
  list-style: none;
}

.show img {
  width: 100%;
}

.comment-form {
  margin: 30px 0;
}

.comment {
  background: #ccc;
  padding: 5px;
  border: #666 solid 1px;
  margin: 15px 0 20px;
}

.comment-name {
  font-size: 16px;
  font-weight: bold;
  margin: 0 0 15px 0;
  font-style: italic;
}

/* Used in 'login' and 'register' pages */
p.logreg {
  font-size: 18px;
  margin: 20px 0 30px 0;
}

a.categorylink {
  color: #383c4a;
}

a.categorylink:hover {
  color: #ac0a0a;
}

.notfound {
  text-align: center;
  margin-bottom: 20px;
}

.notfound p {
  font-size: 36px;
  margin-bottom: 20px;
}

.takeback p {
  font-size: 28px;
  margin-bottom: 30px;
}

.takeback a {
  font-size: 24px;
}

.takeback a:hover {
  color: #ac0a0a;
}

a.post_title:hover {
  color: #ac0a0a;
}
