body {
  font-family: arial;
  font-size: 15px;
  background: #d3d3f3;
  color: #666;
}

.logo {
  width: 120px;
  height: 120px;
  text-align: center;
  margin: auto;
  margin-bottom: 20px;
  display: block;
  border: 2px solid green;
}

.container {
  width: 750px;
  border: 1px solid #ccc;
  margin: 20px auto;
  padding: 20px;
  border-top: #83cd29 3px solid;
}

.clr {
  clear: both;
}

ul {
  padding: 0;
  margin: 0;
}

h1, h2, h3 {
  padding: 5px 0;
  margin-bottom: 0;
}

p {
  margin: 0;
}

a {
  color: #404137;
  text-decoration: none;
}

nav {
  background: #404137;
  color: #fff;
  overflow: auto;
  height: 40px;
  padding: 20px 0 0 10px;
  font-size: 18px;
}

nav li {
  float: left;
  list-style: none;
}

nav a {
  padding: 10px;
  margin: 0 10px;
  color: #fff;
}

nav a.current, nav a:hover {
  background: #83cd29;
  color: #000;
}

.meta {
  padding: 7px;
  border: 1px solid #ccb;
  background: #ccb;
}

a.more {
  display: block;
  width: 75px;
  background: #404137;
  color: #fff;
  padding: 10px;
  margin-top: 30px;
}

.post {
  display: block;
  border-bottom: 1px solid #ccb;
  padding-bottom: 20px;
}

label {
  display: inline-block;
  width: 180px;
}

input, select, textarea {
  margin-bottom: 15px;
}

input[type='text'], select, textarea {
  padding: 3px;
  height: 20px;
  width: 200px;
  border: 1px #ccb solid;
}

select {
  height: 28px;
}

textarea {
  height: 70px;
  width: 400px;
}
